@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --height-header-pc: 4rem;
  --height-header-mo: 3.5rem;
  --max-width-header: 72rem;
  --max-width-post: 56rem;

  --tag-color: #6a6a6a;
  --tag-color-selected: #ffffff;
  --tag-color-hover: #8f8f8f;
  
  --tag-bgc-selected: #68baee; /* #3c3c3c*/
  --tag-bgc-hover: #dadada;

  --tag-border-color: #d3d3d3;

  --dark-tag-color: #ececec;
  --dark-tag-color-selected: #ffffff;

  --dark-tag-bgc-selected: #68baee; /* #8f8f8f*/
}

* {
  box-sizing: border-box;
}

.sub-header {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms ease-in;
  background-color: #ffffff;
}

.contact li {
  display: flex;
  flex-wrap: wrap;
}

.contact label {
  width: 5rem;
  font-weight: 600;
}

.contact a {
  @apply text-blue-500
}

.contact a:hover {
  @apply underline
}

.tag {
  @apply rounded-md px-2 py-1 max-sm:text-xs dark:text-tag-dark;
}

.opened-tags.tags {
  max-height: fit-content;
}
