@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.sub-header {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms ease-in
}

.inner-category {
  display: none;
}

.inner-category.show {
  display: block;
}
